header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    background-color: #2b1010; 
    padding: 20px; 
    color: white;
  }
  
  p {
    font-family: Arial, sans-serif; 
    font-size: 24px; 
    margin: 0; 
  }
  
  nav {
    display: flex; 
    align-items: center;
  }
  
  .contato, .login, .cadastro {
    margin-left: 20px; 
  }
  .contato a, .login a {
    text-decoration: none;
    color: white;
    font-weight: bold; 
  }
  
  .contato a:hover, .login a:hover {
    color: #007bff; 
  }
  
  .cadastro {
    background-color: white; 
    padding: 10px 15px; 
    border-radius: 5px; 
  }
  
  .cadastro p {
    color: #2b1010; 
    font-weight: bold;
    margin: 0; 
  }

.Container-catalogo{
  margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: none;
    padding: 40px;
}

a{
text-decoration: none;
color: inherit;
}

.boxVinho{
  background-color: white;
  border: 3px solid #2B1010;
  color: #2B1010;
  width: 230px;
  padding: 8px;
  display: flex;
}
.boxVinho img{
  width: 90px;
  margin: 16px;
}
.boxVinho .infosVinho{
  flex-direction: column;
  margin: 10px;
  align-items: center;
  display: flex;
  width: 50px;
}
.boxVinho .infosVinho .nomeVinho{
  font-size: 20px;
}

  