body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    color: #fff;
}

.logo-container img {
    height: 50px;
}
#subtitulo{
    width: 310px;
}
main {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.vinho-container {
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.vinho-container > div {
    padding: 20px;
}

#vinho-img {
    max-width: 300px;
    height: auto;
    margin-right: 20px;
    margin-left: auto; /* Alinhar à direita */
    margin-right: auto; /* Alinhar à esquerda */
}

.principal {
    margin-bottom: 20px;
}

.origem {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#img-pais {
    max-width: 30px;
    height: auto;
    margin-right: 10px;
}

.comprar {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.comprar:hover {
    background-color: #555;
}

.uva {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.uva img {
    width: 20px;
    height: auto;
    margin-right: 10px;
}

.descricao-container {
    margin-top: 20px;
    width: 50%;
}
#descricao{
    text-align: justify;
}
.vinho-img-container{
    width: 30%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.cupom-container{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: flex-start;
    gap: 2px;
    margin: 0px 0px 20px 0px;
}
.cupom-container button {
    background-color: #333;
    color: white;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 5px 20px;
}
.cupom-container input{
    border: 1px solid black;
    height: 25px;
    border-radius: 3px;
    text-align: center;
}
.cupom-container label{
    font-size: 14px;
}
.qtd-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
#qtd-vinho{
    border: 1px solid black;
    height: 20px;
    text-align: center;
    border-radius: 5px;
}
#nome-uva{
    width: 290px;
}